<h1>Song List</h1>

<% @songs.each do |song|%>
    <ul>
        <li>
            <%=  link_to song.title, song_path(song) %>
        </li>
    </ul>
<% end %>

<button><%= link_to "Add New Song", new_song_path %></button>